    body,html {
        height: 100%;
    }
    .body-container {
            background-image: url(image5.jpg);
    background-repeat: no-repeat;
    height: 100%;
 
    /* background-position: center; */
    background-size: cover;
}
    
    .form-horizontal{
        width: 70% !important;
         margin: auto !important;
         padding-top:20px;
    }
    .table {
    	width: 50% !important;
    	margin: auto;
        color:white;
    } 
    .agent-head {
    	margin-left: 350px;
        padding-top:30px;
        color:white;
    }
    .main-container {
            width: 50%;
    margin: auto;
    padding-top: 100px;
    }
    .btns-container {
        margin-top:120px;
        padding-bottom:70px;
        margin-left:135px;
    }
    #agentbtn, #custtbtn {
        width:150px;
        height:150px;

    background-color: orange;
    color: black;
    }
     #agentbtn {
        margin-right:70px;
     }
    .header-cls h1{
        font-size: 80px;
        font-family: serif;
        color:white;
     }
     
     legend {
        color: white !important;
     }
     label {
        color:white;
     }
     .req-head h1 {
        font-family: serif;
        color:white;
     }
     .req-head{
        padding-top: 25px;
        padding-left: 545px;
     }
     .titleline {
        color: white;
    padding-left: 207px;
    font-size: 20px;
     }
     .logoutbtn button {
        float:right;
        margin-right:40px;
        margin-top:60px;
     }
     .modal-body label{
        color:black;
     }